In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/games.csv')
df.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,09/08/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23

In [10]:
df.shape

(136, 9)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gameId             136 non-null    object
 1   season             136 non-null    object
 2   week               136 non-null    object
 3   gameDate           136 non-null    object
 4   gameTimeEastern    136 non-null    object
 5   homeTeamAbbr       136 non-null    object
 6   visitorTeamAbbr    136 non-null    object
 7   homeFinalScore     136 non-null    object
 8   visitorFinalScore  136 non-null    object
dtypes: object(9)
memory usage: 9.7+ KB
None

In [7]:
for col in list(df.columns):
    df.loc[:,col] = df.loc[:,col].astype('str')

Upload data to database

In [11]:
import mysql.connector
from mysql.connector import Error


conn = mysql.connector.connect(host='localhost',
                                       database='nflplays',
                                       user='nflAPI',
                                       password='123456789')

cur = conn.cursor()

In [12]:
for idx in list(df.index.values):
    cur.execute('''INSERT INTO `nflplays`.`games`
                (`gameId`,
                `season`,
                `week`,
                `gameDate`,
                `gameTimeEastern`,
                `homeTeamAbbr`,
                `visitorTeamAbbr`,
                `homeFinalScore`,
                `visitorFinalScore`)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s);''', list( df.iloc[idx,:].values))

conn.commit()